.start{
    background-color: rgb(6, 84, 133);
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.giua>img{
    width: 230px;
    height: 100px;
}


.co>img{
    width: 30px;
    height: 25px;
}
.co{
    margin-left: 15px;
    margin-top: -10px;
}
.sdt{
    margin-left: 15px;
}
.dangnhap{
    color: white;
}
.doitac{
    margin-top: -10px;
    color: white;
}
.logo_doitac1{
    background-color: blue;
    
}
.logo_doitac2{
    background-color: deepskyblue;
}
.logo_doitac3{
    background-color: red;
}
button {
    width: 30px;
    height: 30px;
    border: none;
}
.nen{
    background: url(picture/nen2.jpg);
    background-size: cover;
    height: 500px;
    width: 100%;
}
.gioi_thieu{
    display: flex;
    align-items: center;
    justify-content: center;
}
.gt_1{
    background-color: red;
    color: black;
    padding: 10px 15px;
    font-weight: bold;
}
.gt_2{
    background-color: orange;
    color: white;
    padding: 10px 15px;
    font-weight: bold;
    
}
.gt_3{
    background-color: yellow;
    color: white;
    padding: 10px 15px;
    font-weight: bold;
}
.gt_4{
    background-color: aquamarine;
    color: white;
    padding: 10px 15px;
    font-weight: bold;
}
.gt_5{
    background-color: cornflowerblue;
    color: white;
    padding: 10px 15px;
    font-weight: bold;
}
.gt_6{
    background-color: purple;
    color: white;
    padding: 10px 15px;
    font-weight: bold;
}
.gt_7{
    background-color: pink;
    color: white;
    padding: 10px 15px;
    font-weight: bold;
}
.gt_8{
    background-color: coral;
    color: white;
    padding: 10px 15px;
    font-weight: bold;
    width: 130px;
}
.Maldives{
    font-size: 50px;
    color: white;
    text-align: center;
    margin-top: -125px;
}
.tim_kiem{
    background-color: #1A1A1A;
    height: 100px;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 200px;
}
.location{
    margin-right: 15px;
}
.location>select{
    width: 200px;
    height: 30px;
    border: none;
    background-color: #313131;
    color: #999999
}
.time{
    margin-right: 10px;
}
.time>select{
    width: 200px;
    height: 30px;
    border: none;
    background-color: #313131;
    color: #999999
}   
.find>button{
    background-color: gold;
    width: 100px;
    height: 30px;
}
.Tour{
    text-align: center;
    
}
.noidung_chinh{
    color: #999999;
    margin-top: -35px;
    
}
h2{
    color: darkslateblue;
    font-size: 40px;
    font-family:'Courier New', Courier, monospace;
    font-size: 50px;
 
}
.left>button{
    border: none;
    background-color: gray;
    opacity: 0.3;
    margin-top: 150px;
    height: 70px;
    width: 80px;
    color: white;
    font-size: 20px;
}
.left{
    display: flex;
    justify-content: space-between;
}

.main_dong1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main_dong2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.main_1{
    margin-right: 15px;
}
.main_2{
    margin-right: 15px;
}.main_3{
    margin-right: 15px;
}
.main_5{
    margin-right: 15px;
}.main_6{
    margin-right: 15px;
}.main_7{
    margin-right: 15px;
}
.hinhnd_1>img{
    width: 250px;
    height: 250px;
}
.test_1{
    background-color: #1A1A1A;
    width: 250px;
    height: 35px;
    color: white;
    font-weight: bold;
    font-size: 12px;
    margin-top: -4px;
    text-align: center;
    padding-top: 10px;
}
.test_o{
    display: flex;
}
.test_o1{
    background-color: red;
    color: whitesmoke;
    padding: 15px 23px;
    
}
.test_o2{
    background-color: firebrick;
    color: whitesmoke;
    padding: 15px 5px;
}
.test_o3 {
    color: whitesmoke;
    padding: 15px 23px;
    background-color: orange;
}
.test_o4 {
    color: whitesmoke;
    padding: 15px 9px;
    background-color: chocolate;
}
.test_o5{
    color: whitesmoke;
    padding: 15px 20px;
    background-color: gold;
}
.test_o6{
    color: whitesmoke;
    padding: 15px 0px;
    background-color: goldenrod;
}
.test_o7{
    color: whitesmoke;
    padding: 15px 23px;
    background-color: aquamarine;
}
.test_o8 {
    color: whitesmoke;
    padding: 15px 4px;
    background-color: cadetblue;
}
.test_o9{
    color: whitesmoke;
    padding: 15px 23px;
    background-color: deepskyblue;
}
.test_o10{
    color: whitesmoke;
    padding: 15px 5px;
    background-color: cadetblue;
}
.test_o11{
    color: whitesmoke;
    padding: 15px 14px;
    background-color: blueviolet;
}
.test_o12{
    color: whitesmoke;
    padding: 15px 3px;
    background-color: darkslateblue; 
}

.write{
    border: 1px solid;
    width: 243px;
    height: 130px;
    font-size: 14px;
    padding-top: 10px;
    padding-left: 5px;
    color: #999999;
    
}
.dat_tour{
    display: flex;
    margin-top: 56px;
}
button.tour_1{
    background-color: deepskyblue;
    height: 30px;
    width: 100px;
}
button.tour_2{
    margin-left: 10px;
}

.tour_vietnam{
    background: url(picture/hoian.jpg);
    height: 500px;
    width: 100%;
    display: flex;
    background-size: cover;
    margin-top: 40px;
}
.vietnam_1{
    width: 50%;
    color: whitesmoke;
}
.chuto{
    font-size: 100px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 158px;
    margin-left: 220px;
    position: absolute;
}
.chunho{
    font-size: 50px;
    position: absolute;
    margin-top: 254px;
    margin-left: 515px;
}
.vietnam_2{
    width: 50%;
    background-color: aliceblue;
    width: 300px;
    height: 85px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-top: 218px;
    margin-left: 180px;
}
.chu_tour{
    color: deepskyblue;
}

.end{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nhatban{
    background: url(picture/nuiphusi.jpg);
    height: 500px;
    width: 350px;
    margin-right: 15px;
}
.trungquoc{
    background: url(picture/tucamthanh.jpg);
    height: 500px;
    width: 350px;
    margin-right: 15px;
}.hanquoc{
    background: url(picture/thanhphohan.jpg);
    height: 500px;
    width: 350px;
}
.o_chu{
    color: deepskyblue;
     background-color: aliceblue;
    padding: 15px 20px;
    text-align: center;
    width: 150px;
    margin-left: 80px;
}
.copy{
    background-color:lightskyblue;
    padding: 20px 30px;
    text-align: center;
    margin-top: 50px;
    color:#313131
}
.roll{
    position: fixed;
    bottom: 10px;
    right: 10px;
    border-style: solid;
    border-color: #999999;
    border-radius: 30px;
    padding: 8px;
    color: #999999;
}
html{
    scroll-behavior: smooth;
}
